body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2rem;

    background-color: var(--body-bg);
    color: var(--text-body);
    accent-color: var(--accent);
}

a {
    color: var(--text-link);
    text-decoration: none;
}

small a {
    color: var(--accent-secondary);
    text-decoration: none;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 0.3rem;
}

h1 small {
    font-size: 0.95rem;
    color: var(--text-tertiary);
}

h1 .medium {
    font-size: 1.25rem;
    color: var(--text-secondary);
}

h3 {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--text-secondary);
}

label {
    font-weight: 500;
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

select,
input,
textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border: 0.0625rem solid var(--on-body-bg);
    border-radius: 0.375rem;
    box-sizing: border-box;
    margin-right: 1rem;
    background-color: var(--white-bg);
    color: var(--text-body);
}

input:not([type="checkbox"]), select, textarea {
    width: 100%;
}

:invalid {
    border-color: var(--danger);
}

button {
    padding: 0.5rem 0.9rem;
    font-size: 0.95rem;
    background-color: var(--accent);
    color: var(--on-accent);
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    transition: background-color 0.2s;
}

button:hover {
    background-color: var(--accent-hover);
}

button.danger {
    background-color: var(--danger);
    color: var(--on-danger);
}

button.icon {
    background: none;
    color: var(--text-secondary);
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

button[disabled] {
    background-color: var(--on-body-bg);
    cursor: not-allowed;
}

dialog {
    border: none;
    border-radius: 0.625rem;
    padding: 1.5rem;
    box-shadow: 0 0 0.625rem var(--shadow);
    background: var(--white-bg);
    color: inherit;
    box-sizing: border-box;
}

dialog .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

dialog .header h4 {
    margin: 0;
    font-size: 1rem;
}

kbd {
    background-color: var(--key-bg);
    border-radius: 3px;
    border: 1px solid var(--key-border);
    box-shadow: 0 1px 1px var(--shadow), 0 2px 0 0 var(--unshadow) inset;
    color: var(--key-text);
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

.kbd-plus {
    font-family: monospace;
}

button kbd:first-of-type {
    margin-left: 0.25rem;
}

@media (hover: none) and (pointer: coarse) {
    kbd, .kbd-plus {
        display: none;
    }

    /* always show in readme */
    #document-content kbd, #document-content .kbd-plus {
        display: inline-block;
    }
}
