.tabs {
    display: flex;
    flex-direction: column;
    gap: 0;

    background-color: var(--white-bg);
}


.tabs-buttons button {
    border-radius: 0;
    margin: 0;
    color: var(--text-secondary);
}

.tabs-buttons button.active {
    background-color: var(--accent);
    color: var(--on-accent);
}

.tabs-buttons button:not(.active) {
    background-color: transparent;
}

.tabs-buttons button:not(.active):hover {
    background-color: var(--general-hover);
    color: var(--on-general-hover);
}

.tabs-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    margin: 0;
}

.tabs-pane {
    border: 0.0625rem solid var(--on-body-bg);
    box-sizing: border-box;
}
