.top-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.control-group {
    flex: 1;
    min-width: 12rem;
}

.control-group.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    max-width: 100%;
}

.control-group.space {
    justify-content: space-between;
}

.control-group.three-quarters {
    flex: 0 1 75%;
    min-width: 0;
}

.control-group.end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.control-group.full {
    flex: 1 1 100%;
    min-width: 0;
    width: auto;
}

.vertical-rule {
    width: 0.05em;
    height: 1.5em;
    background-color: var(--on-body-bg);
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.vertical-rule.short {
    height: 1em;
}
