.hidden:not(.reserve) {
    display: none !important;
}

.hidden.reserve {
    visibility: hidden !important;
}

.cursor-pointer {
    cursor: pointer;
}

.no-double-tap {
    touch-action: manipulation;
}

.sub-option {
    margin-left: 1.5rem;
}

.break {
    display: block;
    height: 0;
    width: 100%;
}

.vertical-rule {
    width: 0.05em;
    height: 1.5em;
    background-color: var(--text-body);
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.vertical-rule.short {
    height: 1em;
}

@media not all and (max-width: 600px) {
    .mobile-only {
        display: none;
    }
}

@media not all and (display-mode: standalone) {
    .pwa-standalone {
        display: none;
    }
}
