.hidden:not(.reserve) {
    display: none !important;
}

.hidden.reserve {
    visibility: hidden !important;
}

.cursor-pointer {
    cursor: pointer;
}

.no-double-tap {
    touch-action: manipulation;
}

.sub-option {
    margin-left: 1.5rem;
}

.break {
    display: block;
    height: 0;
    width: 100%;
}

@media not all and (max-width: 600px) {
    .mobile-only {
        display: none;
    }
}

@media not all and (display-mode: standalone) {
    .pwa-standalone {
        display: none;
    }
}
