<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="favicon" href="public/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="public/icon_436x436.png" type="image/png" />
    <link rel="apple-touch-icon" href="public/icon_436x436.png" type="image/png" />

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="manifest" href="manifest/manifest.json" />

    <% for (const style of htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%= style %>" />
    <% } %>

    <% for (const script of htmlWebpackPlugin.files.js) { %>
    <script src="<%= script %>" defer data-cfasync="false"></script>
    <% } %>
</head>
<body>
    <h1>
        Ture
        <br class="not-mobile" />
        <span class="medium mobile-only">&nbsp;·</span>
        <small id="tagline">
            A turing machine interpreter <span class="not-mobile">·&nbsp;</span><br class="mobile-only" />
        </small>
        <small id="links">
            <a id="help-link" class="cursor-pointer">Help</a>
            | <a id="examples-link" class="cursor-pointer">Examples</a>
            | <a href="https://github.com/obfuscatedgenerated/ture-web" target="_blank" rel="noopener noreferrer">Source code</a>
            | <a id="teachers-link" class="cursor-pointer">Teachers</a>
        </small>
    </h1>

    <div class="top-controls">
        <div class="control-group full horizontal">
            <div class="control-group three-quarters">
                <div class="control-group horizontal space">
                    <label for="input">Input tape:</label>

                    <label id="restrict-label">
                        Restrict alphabet?
                        <input type="checkbox" id="restrict-input" checked />
                    </label>
                </div>
                <input type="hidden" id="input" value="" />
                <div id="tape-visual" class="tape-grid" tabindex="0"></div>
            </div>

            <div class="control-group">
                <label for="init-state">Initial state:</label>
                <select id="init-state">
                    <option selected disabled hidden value="">Select initial state</option>
                    <optgroup label="Select initial state" id="states"></optgroup>
                </select>
            </div>
        </div>
        <span id="final-label" class="hidden reserve">Execution finished in state <b id="final-state"></b> after <b id="final-steps"></b> step<span id="final-steps-plural">s</span>.</span>

        <div class="control-group full end run-button">
            <button id="run">Run program <kbd>F8</kbd></button>

            <button id="run-step">Run step-by-step <kbd>F9</kbd></button>

            <div id="stepper-controls" class="hidden">
                <span id="step-label">
                    Step: <b id="step-number"></b> |
                    State: <b id="step-state"></b>
                </span>

                <div id="stepper-buttons">
                    <button id="cancel-step" class="danger">Cancel <kbd>Esc</kbd></button>
                    <button id="run-remaining">Run remaining <kbd>F8</kbd></button>
                    <button id="next-step" class="no-double-tap">Next step <kbd>F9</kbd></button>
                </div>
            </div>
        </div>
    </div>

    <h3>Transition rules editor</h3>

    <label for="file-name">Program name:</label>
    <input id="file-name" type="text" placeholder="Program name" value="My Program" />
    <button id="download-button">Download .ture file <kbd class="mac-cmd">Ctrl</kbd> <span class="kbd-plus">+</span> <kbd>S</kbd></button>
    <button id="upload-button">Upload from file <kbd class="mac-cmd">Ctrl</kbd> <span class="kbd-plus">+</span> <kbd>O</kbd></button>
    <button id="open-share-button" class="pwa-standalone">Open share URL <kbd class="mac-cmd">Ctrl</kbd> <span class="kbd-plus">+</span> <kbd>Alt</kbd> <span class="kbd-plus">+</span> <kbd>O</kbd></button>
    <button id="share-dialog-button">Create share URL <kbd class="mac-cmd">Ctrl</kbd> <span class="kbd-plus">+</span> <kbd>Alt</kbd> <span class="kbd-plus">+</span> <kbd>S</kbd></button>
    <button id="copy-empty">Copy empty letter <kbd>Alt</kbd> <span class="kbd-plus">+</span> <kbd>E</kbd></button>

    <div id="editor"></div>

    <div id="errors-container" class="hidden">
        <h3>All errors:</h3>
        <textarea readonly id="error-list"></textarea>
    </div>

    <dialog id="upload-dialog">
        <div id="upload-header" class="header">
            <h4>File upload</h4>
            <button id="upload-cancel" class="icon" title="Close uploader">x</button>
        </div>
        <input type="file" id="file-input" accept=".txt,.ture">
    </dialog>

    <dialog id="open-share-dialog">
        <div id="open-share-header" class="header">
            <h4>Open share URL</h4>
            <button id="open-share-cancel" class="icon" title="Close dialog">x</button>
        </div>
        <label>
            Paste URL:
            <input type="url" id="open-share-url" />
        </label>
    </dialog>

    <dialog id="share-dialog">
        <div id="share-header" class="header">
            <h4>Share URL builder</h4>
            <button id="share-close" class="icon" title="Close share dialog">x</button>
        </div>

        <p>Select the properties you wish to share:</p>
        <form id="share-form">
            <label>
                <input type="checkbox" id="select-all">
                Include all
            </label>

            <hr />

            <label>
                <input type="checkbox" id="include-script">
                Transition rule script
            </label>
            <div class="hidden sub-option" id="script-sub">
                <label><input type="checkbox" id="readonly-script"> Read only?</label>
            </div>

            <label>
                <input type="checkbox" id="include-name">
                Program name
            </label>
            <div class="hidden sub-option" id="name-sub">
                <label><input type="checkbox" id="readonly-name"> Read only?</label>
            </div>

            <label>
                <input type="checkbox" id="include-init">
                Initial state
            </label>
            <div class="hidden sub-option" id="init-sub">
                <label><input type="checkbox" id="readonly-init"> Read only?</label>
            </div>

            <label>
                <input type="checkbox" id="include-tape">
                Tape
            </label>
            <div class="sub-option" id="tape-restrict-sub">
            <label>
                <input type="checkbox" id="flag-unrestrict" checked>
                Restrict input alphabet?
            </label>
            <label>
                <input type="checkbox" id="flag-lock_restrict" checked>
                Allow changing restriction checkbox?
            </label>
            </div>
            <div class="hidden sub-option" id="tape-sub">
                <label><input type="checkbox" id="readonly-tape"> Read only?</label>
            </div>
        </form>

        <p style="text-align: center">
            <button id="share-button">Copy URL</button>
            <button id="share-iframe-button">Copy embed code</button>
        </p>
    </dialog>

    <dialog id="document-dialog">
        <div id="document-header" class="header">
            <h4 id="document-title"></h4>
            <button id="document-close" class="icon" title="Close document">x</button>
        </div>
        <div id="document-content"></div>
    </dialog>

    <footer id="commit-details"><%= commit_details %></footer>
</body>
</html>
