:root {
    --body-bg: #fafafa;
    --on-body-bg: #ccc;

    --white-bg: #fff;
    --disabled-white-bg: #f0f0f0;

    --tape-bg: #f0f0f0;
    --on-tape-bg: #c9c9c9;

    --text-body: #333;
    --text-secondary: #444;
    --text-tertiary: #777;
    --text-ghost: #aaa;

    --accent: #2b72d6;
    --accent-hover: #1e5cb0;
    --on-accent: #fff;
    --accent-secondary: #619be5;

    --danger: #e33;
    --on-danger: #fff;
    --light-danger: #fdd;
    --on-light-danger: #900;

    --step-pointer: #111;
    --highlighter: #ede242;

    --shadow: rgba(0, 0, 0, 0.2);
    --unshadow: rgba(255, 255, 255, 0.7);

    --key-bg: #eee;
    --key-border: #b4b4b4;
}

/* Global styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2rem;

    background-color: var(--body-bg);
    color: var(--text-body);
    accent-color: var(--accent);
}

/* Header */
h1 {
    font-size: 1.8rem;
    margin-bottom: 0.3rem;
}

h1 small {
    font-size: 0.95rem;
    color: var(--text-tertiary);
}

h3 {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--text-secondary);
}

/* Form controls */
label {
    font-weight: 500;
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

select,
input,
textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border: 0.0625rem solid var(--on-body-bg);
    border-radius: 0.375rem;
    box-sizing: border-box;
    margin-right: 1rem;
}

input:not([type="checkbox"]), select, textarea {
    width: 100%;
}

#file-name {
    width: 12.5rem;
}

button {
    padding: 0.5rem 0.9rem;
    font-size: 0.95rem;
    background-color: var(--accent);
    color: var(--on-accent);
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    transition: background-color 0.2s;
}

button:hover {
    background-color: var(--accent-hover);
}

button.danger {
    background-color: var(--danger);
    color: var(--on-danger);
}

button.icon {
    background: none;
    color: var(--text-secondary);
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

button[disabled] {
    background-color: var(--on-body-bg);
    cursor: not-allowed;
}

/* Editor & spacing */
#editor {
    border: 0.0625rem solid var(--on-body-bg);
    border-radius: 0.375rem;
    background-color: var(--white-bg);
    margin-top: 1rem;
    font-family: monospace;
    white-space: pre;
    overflow-x: auto;
    width: 100%;
}

/* Errors */
#errors {
    resize: none;
    width: 100%;
    height: 4.5rem;
    padding: 1rem;
    border: 0.0625rem solid var(--danger);
    border-radius: 0.375rem;
    background-color: var(--light-danger);
    font-family: monospace;
    color: var(--on-light-danger);
    margin-top: 0.5rem;
}

.cm-error {
    text-decoration: var(--danger) wavy underline;
}

.cm-highlight {
    background-color: var(--highlighter);
}

.cm-hover-msg {
    background-color: var(--accent);
    color: var(--on-accent);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.9rem;
}

.cm-hover-msg.error {
    background-color: var(--light-danger);
    color: var(--on-light-danger);
}

.cm-editor.readonly {
    background-color: var(--disabled-white-bg);
    color: var(--text-body);
}

/* Upload dialog */
dialog {
    border: none;
    border-radius: 0.625rem;
    padding: 1.5rem;
    box-shadow: 0 0 0.625rem var(--shadow);
    background: var(--white-bg);
}

#upload-dialog {
    width: 18.75rem;
}

dialog .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}
dialog .header h4 {
    margin: 0;
    font-size: 1rem;
}

#copy-empty {
    margin: 1rem 0;
    float: right;
}

.top-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.control-group {
    flex: 1;
    min-width: 12rem;
}

.control-group.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.control-group.three-quarters {
    flex: 0 1 75%;
    min-width: 0;
}

.control-group.end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.run-button {
    flex: none;
}

.tile {
    height: 2rem;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 1.1rem;
    border: 1px solid var(--on-body-bg);
    border-radius: 4px;
    background: var(--white-bg);
    margin-right: 0.5rem;
    outline: none;
    box-sizing: border-box;
    cursor: text;
}

.tile:focus {
    border-color: var(--accent);
}

.tile.pointer {
    border-bottom: solid 0.2rem var(--step-pointer);
}

.tile.locked {
    cursor: default;
}

.tape-grid {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    background-color: var(--tape-bg);
    padding: 0.5rem;
}

.tape-grid.locked {
    background: repeating-linear-gradient(-45deg, var(--tape-bg) 0px, var(--tape-bg) 2px, var(--on-tape-bg) 2px, var(--on-tape-bg) 4px);
}

.control-group.full {
    flex: 1 1 100%;
    min-width: 0;
    width: auto;
}

.hidden {
    display: none !important;
}

#init-state:invalid {
    border-color: var(--danger);
}

small a {
    color: var(--accent-secondary);
    text-decoration: none;
}

#stepper-controls {
    display: inline-block;
    width: 100%;
}

#step-label {
    font-size: 1.2rem;
}

#stepper-buttons {
    float: right;
}

#document-dialog {
    max-height: 90vh;
    max-width: 90vw;
}

#document-content {
    overflow-y: auto;
    max-height: calc(90vh - 4rem);
}

.cursor-pointer {
    cursor: pointer;
}

.no-double-tap {
    touch-action: manipulation;
}

kbd {
    background-color: var(--key-bg);
    border-radius: 3px;
    border: 1px solid var(--key-border);
    box-shadow: 0 1px 1px var(--shadow), 0 2px 0 0 var(--unshadow) inset;
    color: var(--text-body);
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

.kbd-plus {
    font-family: monospace;
}

button kbd:first-of-type {
    margin-left: 0.25rem;
}

@media (hover: none) and (pointer: coarse) {
    kbd, .kbd-plus {
        display: none;
    }

    /* always show in readme */
    #document-content kbd, #document-content .kbd-plus {
        display: inline-block;
    }
}

.sub-option {
    margin-left: 20px;
}

#commit-details {
    position: absolute;
    bottom: 0.1rem;
    left: 0.2rem;
    pointer-events: none;
    color: var(--text-ghost);
    font-size: 0.8rem;
}

@media screen and (max-width: 600px) {
    body {
        margin: 1rem;
    }

    .top-controls {
        flex-direction: column;
        align-items: stretch;
    }

    .control-group.horizontal {
        flex-direction: column;
        align-items: stretch;
    }

    .control-group.end {
        justify-content: flex-start;
    }

    #upload-dialog {
        width: 100%;
        max-width: 20rem;
    }

    #document-dialog {
        max-height: 100dvh;
        max-width: 100vw;
        height: 100dvh;
    }

    #document-content {
        max-height: calc(100dvh - 4rem);
    }

    label {
        margin-top: 0.5rem;
    }
}

/* TODO: improve editor top buttons on mobile */
