.cm-error {
    text-decoration: red wavy underline;
}

.hover-msg {
    background-color: #f88;
    color: #fff;
}

#errors {
    resize: none;
    width: 100%;
}

#copy-empty {
    margin-bottom: 1rem;
}

#upload-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
